.calendar {
	width: 350px;
	border-radius: 5px;
	text-transform: capitalize;
	background-color: var(--background-color-calendar);
}

.calendar__header {
	position: relative;
	max-width: 200px;
	border-radius: 5px 5px 0 0;
	background-color: var(--background-color-calendar-header);
	color: var(--color-text);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 auto;
}

.calendar__header__arrow__left {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url('../../img/svg/arrow.svg') center no-repeat;

}

.calendar__header__arrow__right {
	position: absolute;
	top: 25%;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url('../../img/svg/arrow.svg') center no-repeat;
	transform: rotate(-180deg);
}

.calendar__body {
	border-radius: 0 0 5px 5px;
	padding: 5px;
}

.calendar__week__names {
	height: 20px;
	font-weight: 600;
	font-size: 8px;
	color: var(--color-additional);
	text-align: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px 1px;
}

.calendar__days {
	font-size: 10px;
	font-weight: 400;
	color: var(--color-text);
	text-align: center;
	display: grid;
	text-align: center;
	align-items: center;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr;
	gap: 1px 1px;
}

.calendar__day {
	border-radius: 5px;
	padding: 5.5px 0px;
	cursor: pointer;
}

.calendar__day:hover {
	background-color: var(--color-additional7);
}

.calendar__additional__day {
	padding: 5.5px;
	font-weight: 300;
	cursor: pointer;
	color: var(--color-placeholder);
}

.calendar__pick__item {
	padding: 9px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
}

.calendar__pick__item:hover {
	background-color: var(--color-additional7);
}

.calendar__today__item {
	background-color: var(--background-color-calendar-header);
}

.calendar__selected__item {
	color: var(--color-text);
	background-color: var(--color-additional);
}

.calendar__selected__item:hover {
	background-color: var(--color-additional);
}

.calendar__pick__items__container {
	font-weight: 400;
	color: var(--color-text);
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 1px 1px;
	font-size: 12px;
}

.calendar__unchoosable__year {
	font-weight: 300;
	padding: 9px 16px;
	color: var(--color-placeholder);
}